gitlab:
  lookup:
    root_dir: /opt/git
    lib_dir: /opt/git/libraries
    repo_dir: /opt/git/repositories
    pids_dir: /opt/git/var/pids
    sockets_dir: /opt/git/var/sockets
    logs_dir: /opt/git/var/logs
    uploads_dir: /opt/git/var/uploads
  hostname: localhost
  proxy:
    enabled: false
    address: http://ourproxy:port
  archives:
    enabled: false
    sources:
      gitlab:
        source: https://gitlab.com/gitlab-org/gitlab-ce/repository/archive.tar.gz?ref=v8.7.2
        md5: 0a63803fd87766d034cf3ff4d4133fce
        content: gitlab-ce-v8.7.2-213974bc9bfca79136db32d47f4854b02e0e7fc2
      workhorse:
        source: https://gitlab.com/gitlab-org/gitlab-workhorse/repository/archive.tar.gz?ref=0.7.2
        md5: c0b266285bf54ed7cef806f25a7e8aa9
        content: gitlab-workhorse-0.7.2-7a2c97cb8f98a2af9b8ec80fcafc2721ef4a8e97
      shell:
        source: https://gitlab.com/gitlab-org/gitlab-shell/repository/archive.tar.gz?ref=v2.7.2
        md5: 1835e858d9285ac9941eec320e2ecac6
        content: gitlab-shell-v2.7.2-c615ca4650dfb4b17bf073276024f886e52b74a3
  use_rvm: False
  rvm_ruby: 2.1.0
  shell_version: v2.7.2
  gitlab_version: 8-7-stable
  workhorse_version: v0.7.1
  databases:
    production: &production
      engine: postgresql
      name: gitlab
      pool: 10
      host: localhost
      key: YOUR_KEY
    development:
      engine: postgresql
      name: gitlab
    staging:
      engine: postgresql
      name: gitlab
    test:
      engine: postgresql
      name: gitlab
  active_database: *production
  gravatar:
    enabled: false
  ldap:
    enabled: false
    host: '_your_ldap_server_'
    base: '_the_base_where_you_search_for_users'
    port: 636
    uid: 'sAMAccountName'
    method: 'ssl' # "ssl" or "plain"
    bind_dn: '_the_full_dn_of_the_user_you_will_bind_with'
    password: '_the_password_of_the_bind_user'
    allow_username_or_email_login: true
  omniauth:
    enabled: false
    allow_single_sign_on: false
    block_auto_created_users: true
  shell:
    audit_usernames: false
    log_level: INFO
    self_signed_cert: false
    #ca_file: /etc/ssl/cert.pem
    {% if grains['os_family'] == 'RedHat' %}
    ca_file: /etc/pki/tls/certs/ca.crt
    {% elif grains['os_family'] == 'Debian' %}
    ca_file: /etc/ssl/certs/ca.crt
    {% endif %}
    #ca_path: /etc/pki/tls/certs
    #{% if grains['os_family'] == 'RedHat' %}
    #ca_path: /etc/pki/tls/certs
    #{% elif grains['os_family'] == 'Debian' %}
    #ca_path: /etc/ssl/certs
    #{% endif %}

  unicorn:
    worker_processes: 2
    timeout: 30
  https: false

#runner
#  runner:
#    downloadpath: "https://s3-eu-west-1.amazonaws.com/downloads-packages/ubuntu-14.04/gitlab-runner_5.2.0~omnibus.1-1_amd64.deb"
#    #(default debian wget https://s3-eu-west-1.amazonaws.com/downloads-packages/ubuntu-14.04/gitlab-runner_5.2.0~omnibus.1-1_amd64.deb )
#    username: "gitlab-runner"
#    # default: gitlab-runner
#    url: "url gitlab-ci"
#    token: "token gitlab-ci"
