# vim: sts=2 ts=2 sw=2 et ai
{% set gitlab  = salt['grains.filter_by']({
  'Debian': {
    'runner':{
      'username': 'gitlab-runner',
      'downloadpath': 'https://packages.gitlab.com/runner/gitlab-runner/packages/linuxmint/sonya/gitlab-runner_10.4.0_amd64.deb/download',
    }
  },
  'default': {
    'runner':{
      'username': 'gitlab-runner',
      'downloadpath': 'https://packages.gitlab.com/runner/gitlab-runner/packages/linuxmint/sonya/gitlab-runner_10.4.0_amd64.deb/download',
    }
  },
}, merge=salt['pillar.get']('gitlab')) %}
